@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* universal styles */
* {
    font-family: "Mulish";
}

header,
main {
    margin: 50px 130px;
}

.primary-text {
    color: #FF5400;
}

/* header styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav>h1 {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 36px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    list-style-type: none;
}


nav a {
    text-decoration: none;
    margin-left: 44px;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

/* banner styles */

.banner {
    height: 600px;
    background-image: url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
    border-radius: 10px;
}

.banner-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.banner-desc {
    width: 670px;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-desc {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

.input {
    display: flex;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner input,
.banner select {
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    width: 174px;
    border: 0;
}

select>option {
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    width: 174px;
    border: 0;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding: 16px;
    border: 0;
}

/* Tour styles */

.tour {
    display: flex;
    justify-content: space-between;
    gap: 53px;
    max-height: 550px;
    align-items: center;
    margin-top: 100px;
}

.tour-content {
    width: 670px;

}

.tour-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}



.tour-desc,
.tour-list {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.tour-desc {
    margin-bottom: 30px;
}

.tour-list {
    margin-bottom: 30px;
}

.tour-img img {
    width: 650px;
    height: 650px;
}

.tour-content button {
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 35px;
}

/* Destination styles */
.destination {
    margin-top: 150px;
    text-align: center;
}

.destination-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.destination-desc {
    width: 650px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

.destination-places {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.destination-places div {
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.destination-places h1 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.mal {
    grid-area: mal;
    width: 573px;
    height: 300px;
}

.indo {
    grid-area: indo;
    width: 573px;
    height: 300px;
}

.sri {
    grid-area: sri;
    width: 374px;
    height: 286px;
}

.na {
    grid-area: na;
    width: 474px;
    height: 286px;
}

.ka {
    grid-area: ka;
    width: 274px;
    height: 286px;
}

.bang {
    grid-area: bang;
    width: 473px;
    height: 300px;
}

.band {
    grid-area: band;
    width: 673px;
    height: 300px;
}

/* why choose us styles */

.why-choose-content {
    margin-top: 750px;
    text-align: center;
}

.why-choose-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.box {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    padding: 35px;
}

.box-extraordinary {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    padding: 35px;
}

.box img,
.box-extraordinary img {
    width: 10%;

}

.box-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.box-desc {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 480px;
}

/* deals styles */

.deals-content {
    text-align: center;
}

.deals-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.deals-desc {
    width: 640px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* offers styles */

.offer {
    height: 600px;
    background-size: cover;
    background-image: url('../images/Group\ 39.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 48px auto;
    border-radius: 16px;
}

.offer2 {
    height: 600px;
    background-size: cover;
    background-image: url('../images/Group\ 40.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 48px auto;
    border-radius: 16px;
}

.offer-box {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: relative;
    top: 15%;
    left: 55%;
    padding: 30px 40px;

}

.offer-box2 {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: relative;
    top: 15%;
    left: 5%;
    padding: 30px 40px;
}

.offers-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}


.offers-desc {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

.offers-title2 {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}

.offer-box ul,
.offer-box2 ul {
    display: flex;
    list-style-type: none;

}

.offer-box li,
.offer-box2 li {
    position: relative;
    right: 40px;
    margin-right: 24px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.primary-icons {
    color: #FF5400;
}

.package {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

/* sponsors styles */
.sponsors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.sponsors {
    display: flex;
    gap: 44px;
    margin-bottom: 100px;
}

.sponsors-title {
    font-size: 44px;
    font-weight: 800;
    font-weight: 700;
}

/* extra section styles */

.extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra-content {
    width: 532px;
}

.extra-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}

.extra-desc {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.extra-list {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.extra-video img {
    position: relative;
    bottom: 50px;
}

.extra-video {
    position: relative;
    top: 200px;
}

.extra-video-title {
    text-align: center;
    position: relative;
    color: #ffffff;
    bottom: 330px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 36px;
    word-spacing: 0.2rem;
    letter-spacing: 0.2rem;
}

.extra-video nav {
    display: flex;
    justify-content: space-between;
}

.extra-video .function1,
.extra-video .function2 {
    display: flex;
    gap: 25px;
    font-size: 1.1rem;
}

.extra-video .function1 {
    position: relative;
    bottom: 250px;
    left: 20px;
    color: rgb(255, 255, 255);
}

.extra-video .function2 {
    position: relative;
    bottom: 250px;
    right: 20px;
    color: rgb(255, 255, 255);
}

.extra-video hr {
    position: relative;
    bottom: 310px;
    width: 590px;
}

/* newsletter styles */

.newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.newsletter-content {
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: 440px;
    padding: 40px;
}

.newsletter img {
    width: 100%;
}

.newsletter-img {
    display: flex;
    width: 100%;
    position: relative;
    left: 330px;

}

.newsletter-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.newsletter-desc {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

.newsletter-content hr {
    background: rgba(19, 19, 24, 0.034);
    width: 393px;
    position: relative;
    margin-bottom: 24px;

}

.newsletter-content input {
    width: 393px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 24px;
}

.discount {
    text-align: center;
    width: 40%;
    height: 5%;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    padding-bottom: 20px;
    position: relative;
    right: 20px;
    top: 130px;

}

.discount h3 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.discount h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;

}


/* Footer styles */

footer {
    background: rgba(19, 19, 24, 0.05);
    padding: 110px 335px;
    margin: 0;
}

.footer-content {
    text-align: center;
}

.footer-content h1 {
    margin-bottom: 15px;
}

.footer-content h1 img {
    position: relative;
    top: 10px;
}

.footer-desc {
    margin-bottom: 30px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.social-media-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.links {
    font-size: 1.5rem;
}

footer hr {
    margin-bottom: 50px;
}

.copyright {
    color: #131318;
    font-size: 16px;
    font-weight: 300;
}


/* Responsive for mobile device */

@media screen and (max-width:600px) {

    header,
    main {
        margin: 20px;
    }

    /* header styles */
    
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    nav a {
        margin: 0 auto;
        margin-right: 30px;
    }

    nav li {
        margin-bottom: 10px;
    }

    /* banner styles */

    .banner {
        height: auto;
        padding: 10px;
        margin-bottom: 100px;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .banner-title {
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
    }

    .banner-desc {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        width: 300px;
    }

    .input {
        flex-direction: column;
    }

    .banner-content select {
        width: 100%;
    }

    /* tour styles */

    .tour {
        flex-direction: column;
        margin: 20px auto;
        margin-bottom: 900px;
    }

    .tour-content {
        width: auto;
    }

    .tour-img img {
        width: 100%;
        height: 100%;
    }

    .tour-title {
        color: #131318;
        text-align: left;
        font-size: 20px;
        font-weight: 800;
    }

    /* destination styles */

    .destination-desc {
        width: auto;
    }

    .destination-places {
        height: 900px;

    }

    .backgrounds {
        background-size: contain;
        height: 250px;
    }

    .backgrounds h1 {
        position: relative;
        bottom: 30px;
    }

    .sri h1 {
        position: relative;
        top: 5px;
    }

    .indo {
        position: relative;
        bottom: 80px;
    }

    .sri {
        position: relative;
        bottom: 160px;
        left: 5px;
    }

    .ka {
        position: relative;
        left: 15px;
        bottom: 210px;
    }

    .ka h1 {
        position: relative;
        top: 5px;
        right: 15px;
    }

    .na {
        position: relative;
        bottom: 160px;
    }

    .bang {
        position: relative;
        bottom: 210px;
    }

    .band {
        position: relative;
        bottom: 250px;
    }

    .band h1 {
        position: relative;
        bottom: 40px;
    }

    /* why choose styles */
    
    .why-choose-container {
        flex-direction: column;
        margin-bottom: 0;
    }

    .box,
    .box-extraordinary {
        width: 80%;
        padding: 20px;
        height: 100%;
    }

    .box-title {
        color: #131318;
        font-size: 20px;
        font-weight: 800;
    }

    .box-desc {
        width: auto;
        color: #5A5A5D;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    /* deals styles */

    .deals-desc {
        width: 100%;
    }

    /* offers styles */
    
    .offer-box {
        width: auto;
        position: relative;
        top: 200px;
        display: none;

    }

    .offer-box2 {
        position: relative;
        top: 200px;
        left: 25px;
    }

    .offers-desc {
        width: 210px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .offer-box,
    .offer-box2 {
        height: 40%;
        width: 60%;
    }

    .offers-title {
        color: #131318;
        font-size: 20px;
    }

    /* sponsors styles */
    
    .sponsors {
        flex-direction: column;
    }

    /* extra section styles */

    .extra {
        flex-direction: column;
        margin-bottom: 200px;
    }

    .extra-content {
        width: auto;
    }

    .extra-video-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
    }

    .extra-video img {
        width: 100%;
        position: relative;
        bottom: 160px;
    }

    .extra-video nav {
        display: none;
    }

    .extra hr {
        width: 100%;
        position: relative;
        bottom: 150px;
    }

    /* newsletter styles */

    .newsletter {
        flex-direction: column;
        gap: 50px;
    }

    .newsletter-content {
        width: 100%;
        padding: 24px;
        display: flex;
        flex-direction: column;
    }
    .newsletter-content hr{
        width: 100%;
    }
    .newsletter-content input,
    .newsletter-content button {
        width: 50%;
    }
    .newsletter-img{
        width: 100%;
        height: 100%;
        left: 0;
    }
    

    .discount {
        display: none;
        position: relative;
        width: 50%;
        bottom: 100%;
    }

    .discount h3 {
        color: #FFF;
        text-align: center;
        font-weight: 400;
    }

    .discount h2 {
        color: #FFF;
        font-size: 21.138px;
        font-weight: 800;
        position: relative;
        bottom: 15px;
    }

    /* footer styles */
    footer{
        padding: 20px;
    }
}